*, *:before, *:after{
    box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

header{
    height: 90px;
    background-color: #464646;
}

h1 {
    display: none;
  }

h2{
    text-align: center;
    font-family: Arial;
    font-size: 200%;
    padding: 40px;
    margin: 0;
    text-decoration: underline solid #27ccff;
    text-underline-position: under;
}

nav{
    height:60px;
    background-color: #ffffff;
}

/* 
img[src*="lpc_logo]{...} 
Attribute Contains Selector -
When looking to find an element based on part of an attribute value, but not 
an exact match, the asterisk character, *, may be used within the square brackets of a selector. */

.smlogo{
    height: 80px;
    padding: 13px 13px 13px 18px;
    margin: 5px 0px;
}

.cube{
    display: block;
    margin: 0px auto;
}

.bkgrd{
    background-color: #efefef;
}

/* Can't get the scroll bar for About section to show up at smaller screen sizes 
- FIXED - 
"you have to make sure that you content default height smaller than the container height; if not, the scroll-bar will not be hidden." */

.about{
    overflow-y: auto;
    height: 600px;
    background: #efefef url('../img/partial_cube.png') no-repeat 100%;
}

a{
    text-decoration: none;
}

/*below is used to space menu items evenly across page*/

ul{
    display: flex;
    height: 40px;
    justify-content:space-between;
    list-style-type: none;
    padding: 5px;
    margin: 15px 100px;
    

    /* former list code
    display: inline-block;
    list-style: none;
    height: 50px;
    background-color: #ffffff;
    */
}

li a{
    font-family: Bebas Neue;
    font-weight: Bold;
    font-size: 200%;
    color: #27ccff;
    position: relative;
}

li a:hover{
    color: #272727;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

li a:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #27ccff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

li a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

.button {
        float: right;
        margin: 24px 18px 24px 20px;
        padding: 12px 17px;
        background-color: #27ccff;
        color: #e7e7e7;
        font-family: Arial;
        font-weight: bold;
        border: none;
        border-radius: 3px;
    }

.lrgbutton {
        position: relative;
        top: 75px;
        right: 500px;
        left: -670px;
        margin: 24px 18px 50px 20px;
        padding: 15px 30px;
        background-color: #27ccff;
        color: #e7e7e7;
        font-family: Arial;
        font-weight: bold;
        font-size: 200%;
        border: none;
        border-radius: 3px;
    }

.button:hover{
    color: #27ccff;
    background-color: #e7e7e7;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.lrgbutton:hover{
    color: #27ccff;
    background-color: #e7e7e7;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

section{
    height: 850px;
    width: 100%
}

footer{
    background-color: #171717;
    height: 450px;
}

/* .banner displays an inner outline for the main banner*/

.banner{
    background-color: #0c0c0c;
    height: 765px;
    outline: 3px solid #27ccff;
    outline-offset: -20px;
}

hr{
    width: 20%;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
    background-color:#27ccff;
    border: 0 none;
    margin-top: 30px;
    margin-bottom:30px;
    }

h2 ~ p{
    font-family: Arial;
    font-size: 150%;
    margin: 30px 250px;
    line-height: 2;
    text-align: center;
}

.bglogo{
    position: relative;
    display: inline-block;
    height: 37%;
    margin: 150px 100px 40px;
    padding: 10px;
}

h3{
    display: inline-block;
    margin-right: 500px;
    font-family: Bebas Neue;
    font-size: 500%;
    color: #272727;
    text-decoration: underline solid #27ccff;
    text-underline-position: under;
}
