*, *:before, *:after{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/*  Top Level Styles  */

h3{
    font-size: 500%;
    font-family: Bebas Neue;
    color: #272727;
    text-decoration: underline solid #27ccff;
    text-underline-position: under;
    margin: 40px;
}

/*  Header  */

header{
    height: 850px;
    width: 100%;
    background: #0c0c0c;
    outline: 3px solid #27ccff;
    outline-offset: -20px;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 600px;
    padding-top: 120px;
    padding-bottom: 0px;
}    

.bg-logo{
    width: 40%;
    padding-left: 80px;
}

.side-cords{
    width: 50%;
    z-index: 1;
    margin-top: 50px;
}

/* Cord animation from right side of page */

/* .auto-slider-content{
    animation-name: slide;
    animation-duration: 1.5s;
}

@keyframes slide{
    100%{
        transform:translateX(0);
    }
    0%{
        transform:translateX(40%);
    }
} */

.lrgbutton {
    display: block;
    position: relative;
    width: 240px;
    margin: 10px 20px 20px 90px;
    padding: 15px 30px;
    background-color: #27ccff;
    color: #e7e7e7;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 200%;
    border: none;
    border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    transition: all .1s linear;
}

.lrgbutton:hover{
color: #27ccff;
background-color: #e7e7e7;
-webkit-transition: all 0.2s ease-in-out 0s;
transition: all 0.2s ease-in-out 0s;
}

/*  Navigation Bar  */

nav{
    height: 80px;
    background: #ffffff;
}

ul{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 80px;
    list-style-type: none;
    margin: 0;
}

a{
    text-decoration: none;
}

li > a{
    font-family: Bebas Neue;
    font-weight: Bold;
    font-size: 200%;
    color: #27ccff;
    position: relative;
}

li > a:hover{
    color: #272727;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

li > a:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #27ccff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

li > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/*  About Section  */

.about{
    overflow-y: auto;
    height: 600px;
    background: #efefef url('../img/partial_cube.png') no-repeat 100%;
}

h2{
    text-align: center;
    font-family: Arial;
    font-size: 200%;
    padding: 40px;
    margin: 0;
    text-decoration: underline solid #27ccff;
    text-underline-position: under;
}

h2 ~ p{
    font-family: Arial;
    font-size: 150%;
    margin: 30px 250px;
    line-height: 2;
    text-align: center;
}

hr{
    width: 20%;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
    background-color:#27ccff;
    border: 0 none;
    margin-top: 30px;
    margin-bottom:30px;
}

.cube{
    display: block;
    margin: 0px auto;
}

/*  Baseline for all other ections  */

section{
    height: 850px;
    width: 100%
}

section:nth-child(odd) {
    background-color: #efefef;   
}

/*  Quality Section  */

.quality-heading{
    display: inline-block;
    position: relative;
    left: 33.5%;
}

.bg-yellow-cord{
    display: block;
    background-image: url("../img/yellow_cord.png");
    background-repeat: no-repeat;
    position: relative;
    float: right;
    height: 850px;
    width: 574px;
    z-index: 1;
}

.qc-badge{
    display: block;
    background-image: url("../img/qc.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width: 700px;
    margin: 0px 10px 0px 10px;
    position: relative;
    float: left;
    z-index: 1;
}

aside > p{
    font-family: Arial;
    font-size: 120%;
    line-height: 2;
    text-align: left;
    z-index: 1;
}

.product-aside-position{
    position: absolute;
    margin-left: 38.5%;
    margin-top: 3%;
    padding: 40px 30px 80px 30px;
    background-color: #efefef;
}

.blue-line{
    width: 100%;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
    background-color:#27ccff;
    border: 0 none;
    margin-top: 30px;
    margin-bottom:30px;
}

/*  Service Section  */

.service-flex-container{
    display: flex;
  }
  
  .service-right{
    width: 40%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
  }
  
  .service-heading {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    margin:0;
  }
  
  .service-heading > h3{
    font-size: 500%;
    color: #fff;
    background-color: #272727;
    width: 100%;
    padding-left: 30%;
    padding-top: 2%;
    padding-bottom: 3%;
    margin: 0;
    text-decoration: underline solid #27ccff;
    text-underline-position: under;
  }
  
  .service-left{
    width: 60%;
    height: 100%;
    background-image: url("../img/customer_support.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .service-text > p{
    font-family: Arial;
    font-size: 120%;
    line-height: 2;
    text-align: left;
  }

  .service-text > p:nth-child(1){
      font-size: 200%;
      font-weight: bold;
      padding: 0;
      margin: 0;
  }

  .service-text > p:nth-child(2){
      font-size: 150%;
      font-weight: bold;
      padding: 0;
      margin: 0;
  }

/*  Inventory Section  */

.inventory-flex-container{
     display: flex;
}

.inventory-left{
    display: flex;
    align-items: center;
    width: 40%;
    height: 100%;
    padding-left: 40px;
    margin-left: 2.5%;
}

.inventory-text{
    font-family: arial;
    line-height: 2;
    background-color: #e7e7e7;
    padding: 15% 10% 15%;
}

.text-line-one{
    font-size: 150%;
}

.text-line-two {
    font-size: 165%;
    font-weight: bold;
}

.inventory-heading{
    display: flex;
    justify-content: flex-end;
    padding-top: 2%;
}

.inventory-right{
    background-image: url("../img/color_cords.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 60%;
    height: 100%;
}



/*  Footer  */

footer{
    background-color: #171717;
    height: 450px;
}

.btn-contain{
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
.gotop-btn{
    width: 50px;
    height: 50px;
    background: #27ccff;
 
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
    font-size: 25px;
    border-radius: 3px;
 
 }
 
.gotop-btn:hover{
     color: #27ccff;
     background-color: #fff;
     font-size: 30px;
     transition: all 0.2s ease-in-out 0.1s;
 }
