*, *:before, *:after{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/*  Top Level Styles  */

h3{
    font-size: 500%;
    font-family: Bebas Neue;
    color: #272727;
    text-decoration: underline solid #27ccff;
    text-underline-position: under;
    margin: 0;
}

.quality-heading > h3{
    margin-top: 30px;
}

/*  Header  */

header{
    height: 850px;
    width: 100%;
    background: #0c0c0c;
    outline: 3px solid #27ccff;
    outline-offset: -20px;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 600px;
    padding-top: 120px;
    padding-bottom: 0px;
}    

.bg-logo{
    width: 40%;
    padding-left: 80px;
}

.side-cords{
    width: 50%;
    z-index: 1;
    margin-top: 50px;
}

/* Cord animation from right side of page */

/* .auto-slider-content{
    animation-name: slide;
    animation-duration: 1.5s;
}

@keyframes slide{
    100%{
        transform:translateX(0);
    }
    0%{
        transform:translateX(40%);
    }
} */

.lrgbutton {
    display: block;
    position: relative;
    width: 240px;
    margin: 10px 20px 20px 90px;
    padding: 15px 30px;
    background-color: #27ccff;
    color: #e7e7e7;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 200%;
    border: none;
    border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    transition: all .1s linear;
}

.lrgbutton:hover{
color: #27ccff;
background-color: #e7e7e7;
-webkit-transition: all 0.2s ease-in-out 0s;
transition: all 0.2s ease-in-out 0s;
}

/*  Navigation Bar  */

nav{
    height: 80px;
    background: #ffffff;
}

ul{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 80px;
    list-style-type: none;
    margin: 0;
}

a{
    text-decoration: none;
}

li > a{
    font-family: Bebas Neue;
    font-weight: Bold;
    font-size: 200%;
    color: #27ccff;
    position: relative;
}

li > a:hover{
    color: #272727;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

li > a:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #27ccff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

li > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/*  About Section  */

.about{
    overflow-y: auto;
    height: 600px;
    background: #efefef url('../img/partial_cube.png') no-repeat 100%;
}

h2{
    text-align: center;
    font-family: Arial;
    font-size: 200%;
    padding: 40px;
    margin: 0;
    text-decoration: underline solid #27ccff;
    text-underline-position: under;
}

h2 ~ p{
    font-family: Arial;
    font-size: 150%;
    margin: 30px 250px;
    line-height: 2;
    text-align: center;
}

hr{
    width: 20%;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
    background-color:#27ccff;
    border: 0 none;
    margin-top: 30px;
    margin-bottom:30px;
}

.cube{
    display: block;
    margin: 0px auto;
}

/*  Baseline for all other ections  */

/* section{
    height: 850px;
    width: 100%
}

section:nth-child(odd) {
    background-color: #efefef;   
} */

/*  Quality Section  */

.quality-section {
    height: 850px;
    width: 100%;
    background-color: #fff;
}

.quality-heading{
    display: inline-block;
    position: relative;
    left: 33.5%;
}

.bg-yellow-cord{
    background-image: url("../img/yellow_cord.png");
    background-repeat: no-repeat;
    position: relative;
    float: right;
    height: 850px;
    width: 574px;
    z-index: 1;
}

.qc-badge{
    background-image: url("../img/qc.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width: 700px;
    margin: 0px 10px 0px 10px;
    position: relative;
    float: left;
    z-index: 1;
}

aside > p{
    font-family: Arial;
    font-size: 120%;
    line-height: 2;
    text-align: left;
    z-index: 1;
}

.product-aside-position{
    position: absolute;
    margin-left: 38.5%;
    margin-top: 3%;
    padding: 40px 30px 80px 30px;
    background-color: #efefef;
}

.blue-line{
    width: 100%;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
    background-color:#27ccff;
    border: 0 none;
    margin-top: 30px;
    margin-bottom:30px;
}

/*  Service Section  */

.service-flex-container{
    display: flex;
    height: 850px;
    width: 100%;
    background-color: #efefef;
  }
  
  .service-right{
    width: 40%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
  }
  
  .service-heading {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    margin:0;
  }
  
  .service-heading > h3{
    font-size: 500%;
    color: #fff;
    background-color: #272727;
    width: 100%;
    padding-left: 30%;
    padding-top: 2%;
    padding-bottom: 3%;
    margin: 0;
    text-decoration: underline solid #27ccff;
    text-underline-position: under;
  }
  
  .service-left{
    width: 60%;
    height: 100%;
    background-image: url("../img/customer_support.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .service-text > p{
    font-family: Arial;
    font-size: 120%;
    line-height: 2;
    text-align: left;
  }

  .service-text > p:nth-child(1){
      font-size: 200%;
      font-weight: bold;
      padding: 0;
      margin: 0;
  }

  .service-text > p:nth-child(2){
      font-size: 150%;
      font-weight: bold;
      padding: 0;
      margin: 0;
  }

/*  Inventory Section  */

.inventory-flex-container{
     display: flex;
     height: 850px;
     width: 100%;
     background-color: #fff;
}

.inventory-left{
    display: flex;
    align-items: flex-start;
    width: 40%;
    height: 100%;
    /* padding-left: 40px; */
    padding-top: 50px;
    margin-left: 3%;
}

.inventory-text{
    font-family: arial;
    line-height: 1.6;
    background-color: #e7e7e7;
    padding: 20% 10% 35%;
}

.text-line-one{
    font-size: 150%;
}

.text-line-two {
    font-size: 165%;
    font-weight: bold;
}

.inventory-heading{
    display: flex;
    justify-content: center;
}

.inventory-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 75%;
    padding-top: 50px;
    margin-left: 5%;
    background-image: url("../img/locking_cord.png");
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: right;
    background-position-y: 75%;
    /* background-image: url("../img/color_cords.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 75%;
    height: 100%; */
}

.inventory-button-layout{
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    margin-top: 30px;
}

.inventory-text-right{
    font-family: arial;
    line-height: 1.6;
    font-size: 200%;
}

.product-button {
    font-size: 3.5em;
    text-align: left;
    letter-spacing: 0px;
    margin-bottom: 50px;
  }
  
  .button-animate {
    font-family: bebas neue;
    text-decoration: none;
    color: #272727;
    background-color: #e7e7e7;
    margin: 0;
    padding: 5px 20px 0px;
    border: none;
    border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;  
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  .button-animate:hover {
    color: #fff;
    background-color: #27ccff;
    letter-spacing: 3px;
    -webkit-transition: all 0.5s ease in-out 0s;
    transition: all 0.5s ease-in-out 0s;
  }
  
/*  Extension Cord Section  */

.extension-flex-container{
    display: flex;
    flex-direction: column;
    height: 850px;
    width: 100%;
    background-color: #efefef;
}

.extension-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 20%;
    width: 100%;
}

.extension-right > h3{
    margin-right: 5%;
}

.extension-left{
    height: 80%;
    width: 100%;
    background-image: url("../img/coiled_locking.png");
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: top;
}

/*  Plug Adapter Section  */

.plug-adapter-container{
    display: flex;
    background-image: url("../img/plug_adapter.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 45%;
    height: 850px;
    width: 100%;
    background-color: #fff;
}

.adapter-left{
    height: 100%;
    width: 50%;
    padding: 5%;
}

.text-shrink > p{
    font-size: 450%;
    font-family: Bebas Neue;
    letter-spacing: 10px;
    color: #272727;
    margin-top: 1rem;
}

.adapter-right{
    height: 100%;
    width: 50%;
}

/* Wiring Devices Section  */

.wiring-flex-container{
    display: flex;
    background-image: url("../img/wiring_device.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 40%;
    padding: 5%;
    height: 850px;
    width: 100%;
    background-color: #efefef;
}

.wiring-right{
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 50%;
}

.wiring-left{
    height: 100%;
    width: 50%;
}

/*  Contact Section  */

.contact-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 850px;
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #27ccff;
    color: white;
    padding: 12px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #00ace1;
  }

  input[type=text]:focus {
      border-color: #27ccff;
  }

  select[id=country]:focus {
      border-color: #27ccff;
  }

  .container {
    border-radius: 5px;
    padding: 20px;
  }
  
  label {
    font-family: bebas neue;
    font-size: 150%;
    letter-spacing: 1px;
    color: #272727;
  }

  .text-area {
      height: 200px;
  }

  .text-area:focus {
      border-color: #27ccff;
  }

h4{
    font-size: 300%;
    font-family: Bebas Neue;
    color: #272727;
    text-decoration: underline solid #27ccff;
    text-underline-position: under;
    margin-top: 0;
    margin-bottom: 40px;
    letter-spacing: 1px;
}  

/*  Footer  */

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #171717;
    height: 450px;
    width: 100%;
}

.grid {              
    display: grid;
    width: 900px;
    grid-template-columns: 300px 300px 300px; 
    grid-template-rows:    100px 150px 50px;
}

.social-row {
grid-column: span 3;
width: 100%;
}

.social-row-2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    grid-column: span 3;
    width: 100%;
}

.social-flex-container {
display: flex;
flex-direction: row;
justify-content: center;
}

i{
font-size: 50px;
color: #9e9e9e;
padding: 20px;
}

i:hover{
color: #fff;
transition: all 0.2s ease-in-out .0s;
}

.division-of {
    align-self: center;
    height: 75px;
    width: 0 auto;
    margin-left: 20px;
    margin-bottom: 50px;
}

.copywrite {
    display: flex;
    justify-content: center;
    color: #9e9e9e;
    font-family: arial;
    margin-left: 15px;
}

.to-top-container {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
}
 
.gotop-btn{
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #27ccff;
    text-decoration: none;
    border-radius: 3px;
 
 }

 .gotop-btn > i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 25px;
 }
 
.gotop-btn > i:hover {
    display: flex;
    justify-content: center;
    color: #27ccff;
    font-size: 30px;
    transition: all 0.2s ease-in-out 0.1s;
 }

 .gotop-btn:hover {
    display: flex;
    justify-content: center;
    background-color: #fff;
    transition: all 0.2s ease-in-out 0.1s;
 }
