* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    background: #fff;
    scroll-behavior: smooth;
}
body {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    -ms-flex-item-align: center;
        align-self: center;
}

/* WEB THUMBNAILS */

.thumbnail {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 75px;
    -webkit-transition: .3s linear;
    transition: .3s linear;
}

.thumbnail:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.thumbnail-web {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
    height: auto;
    margin: 50px;
    -webkit-transition: .20s ease-in-out .20s;
    transition: .20s ease-in-out .20s;
}

.thumbnail-web:hover {
    width: 75%;
    height:auto;
    z-index:999;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* NAV */

svg {
    fill: #454C4C;
    -webkit-transition: .5s;
    transition: .5s;
    margin-right: 0;
    width: 2em;
  }

svg:hover {
    fill: #FFE14D;
}
nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.nav-bkgrd {
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 1;
}

.main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    font-size: .75em;
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

.push {
    margin-left: auto;
}

ul {
    padding: 0 1%;
}

li {
    padding: 15px;
}

a {
    color: #454C4C;
    text-decoration: none;
    -webkit-transition: all .5s;
    transition: all .5s;
}

a:hover {
    color: #FFE14D;
}

.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 25px 20px;
    padding: 5%;
    border: 3px solid #FFE14D;
}

.sm-mustache {
    width: 10%;
}
.heading {
    margin: 0;
}

.button {
    margin: 1%;
    width: 60%;
    padding: 5px5px;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-font-smoothing: antialiased;
}

@-webkit-keyframes rock{
    0%{-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    25%{-webkit-transform: rotate(10deg);transform: rotate(10deg);}
    50%{-webkit-transform: rotate(-10deg);transform: rotate(-10deg)}
    100%{-webkit-transform: rotate(0deg);transform: rotate(0deg);}
}

@keyframes rock {
    0%{-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    25%{-webkit-transform: rotate(5deg);transform: rotate(5deg);}
    50%{-webkit-transform: rotate(-5deg);transform: rotate(-5deg)}
    100%{-webkit-transform: rotate(0deg);transform: rotate(0deg);}
}

.rocking-stache:hover {
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: rock 1s ease-in-out;
    animation: rock 1.5s ease-in-out;
}

h1 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
    color: grey;
    margin: 0;
}

h2 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    color: #454C4C;
    margin-top: 10%;
}

/* UNDER CONSTRUCTION */

.construction-text > p {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    color: #454C4C;
}

/*  About Section */

.about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 25px;
}

.selfie-img {
    width: 75%;
    height: auto;
}

.about-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 75%;
}

.about-text > p {
    color: white;
    font-size: 1.25em;
    line-height: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(128, 128, 128, 0.75);
    padding: 40px;
}

.icon-align {
    display: block;
    float: right;
}

/* PLAYLIST */
.center-grid {
    display: flex;
    justify-content: center;
    margin: 50px 5px;
}

.image-container {
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px 50px;
}

.embed-container > iframe {
   opacity: .8;
   transition: .2s linear;
}

.embed-container > iframe:hover {
    opacity: 1;
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
}

/* DESIGN SECTION */

.grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.grid-item {
    margin: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
    width: 80%;
}

/* MODAL */

.modal-window {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    background-color: rgba(200, 200, 200, 0.75);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    overflow: auto;
  }
  
  .modal-window:target {
    opacity: 1;
    pointer-events: auto;
  }
  
  .modal-window>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    position: relative;
    margin: 50px auto;
    padding: 2rem;
    background: #fff;
    color: #444;
  }
  
  .modal-window header {
    font-weight: bold;
  }
  
  .modal-close {
    color: #aaa;
    font-size: 5rem;
    position: absolute;
    right: 0;
    text-align: center;
    top: 5%;
    text-decoration: none;
    margin: 25px;
  }
  
  .modal-close:hover {
    color: #FFE14D;
  }
  
  .modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
  }

/* CODE SECTION */

.code {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 5px;
}

.insult {
    width: 100%;
    height: 100%;
}

@media (min-width: 768px){

    html {
        background: url('img/lpbkgrd.jpg') no-repeat center center fixed; 
        background-position-y: 20%;
        background-size: cover;
    }

    body {
        height: 100%;
    }

    h1 {
        font-size: 4rem;
        margin-top: 5%;
    }

    h2 {
        font-size: 3rem;
        margin-top: 6%;
    }

    .button {
        width: 35%;
        margin: 2%;

    }

    .construction-text > p {
        color: #fff;
    }

    .thumbnail-web, .thumbnail {
        width: 30%
    }

    .image-container {
        grid-template-rows: repeat(auto, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1025px){

    html {
        background: url('img/lpbkgrd.jpg') no-repeat center center fixed; 
        background-position-y: 20%;
        background-size: cover;
    }

    .overflow-hidden {
        overflow-y: hidden;
    }

    svg {
        width: 4em;
        height: auto;
    }

    body {
        height: 100%;
    }

    .main-nav {
        font-size: 1.25em;
    }

    li {
        padding: 20px;
    }

    h1 {
        font-size: 5rem;
    }

    .content {
        margin-top: 150px;
        margin-left: 20%;
        margin-right: 20%;
        padding: 0 0 3%;
    }

    .button {
        width: 35%;
        margin: 1%;
    }

    .about-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-top: 100px;
    }

    .about-text > p {
        color: white;
        font-size: 1.25em;
        line-height: 1.5em;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgba(128, 128, 128, 0.75);
        padding: 60px;
    }
    
    .about-text {
        width: 40%;
    }

    .selfie-img {
        width: 40%;
    }

    .grid {
        margin-top: 50px;
    }

    .grid-item {
        width: 30%;
    }

    .construction-text > p {
        color: #fff;
    }

    .insult {
        width: 75%;
        height: 100%;
    }

    .thumbnail-web, .thumbnail {
        width: 30%;
    }

    .image-container {
        grid-template-rows: repeat(auto, 1fr);
        grid-template-columns: repeat(4, 1fr);
    }

}